#headerDiv{
	background-image: url("../images/train2.jpg");
	background-size: 100% 100%;
	color: seashell;
	text-align:center;
}
#userInput{
	text-indent: 20px;
}
#newRows{
	text-indent: 40px;
}
span{
	border-radius: 25px;
	background-color: lightslategray;
	padding: 20px;
}

